.wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.button {
  background-color: rgb(101, 100, 202);
  color: white;
  width: 250px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
